---
import Layout from "../layouts/Layout.astro";

import AboutSection from "../components/react/AboutSection.tsx";
import ContactSection from "../components/react/ContactSection.tsx";
import Footer from "../components/react/Footer.tsx";
import HeroSection from "../components/react/HeroSection.tsx";
import NavBar from "../components/react/NavBar.tsx";
import ProcessSection from "../components/react/ProcessSection.tsx";
import ServicesSection from "../components/react/ServicesSection.tsx";
import TestimonialsSection from "../components/react/TestimonialsSection.tsx";
---

<Layout title="Ro Colman - Coaching Holístico">
  <main>
    <NavBar />
    <HeroSection />
    <AboutSection />
    <ServicesSection />
    <ProcessSection />
    <TestimonialsSection />
    <ContactSection />
  </main>
  <Footer />
</Layout>
